.loginContainer {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}

.cardContainer {
  width: 40%;
}
.invalidLogin {
  color: red;
  font-weight: bold;
}

.field-full-width {
  width: 100%;
}
